body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main-div {
    display: flex;
    background: url(/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    align-items: center !important;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
}

.sub-div {
    width: 300px;
    height: 180px;
    align-content: center;
    padding: 20px;
    margin: 20px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    text-align: center;
}

.msg-div{
    width: 300px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
    text-align: center;
    color: white;
    margin: 20px;
}

.input {
    background-color: #212121;
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    margin: 20px 0px;
    /* text-align: center; */
    border: 2px solid white;
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
    box-sizing: border-box;
}

.input:focus {
    color: rgb(0, 255, 255);
    background-color: #212121;
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    transition: .1s;
    transition-property: box-shadow;
}

button {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
}

.boton-elegante {
  padding: 10px 25px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
  transform: scale(4);
}

.boton-elegante:hover {
  border-color: #666666;
  background: #292929;
}

.no-hover {
    cursor: not-allowed;
    pointer-events: none;   /* disables hover & click */
    opacity: 0.6;
}




@media screen and (max-width: 600px) {
    .main-div{
        display: block;
    }
    
    .sub-div{
        margin: auto;
        height: 210px;
    }

    .msg-div{
        margin: auto;
        /* height: 320px;
        overflow: scroll; */
    }

}
